button {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #fff;
  color: #0d0d0d;
  font-family: 'JetBrainsMono', monospace;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem;
}

button:hover {
  background: #616161;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

button.is-active.paragraph-style {
  background: #383838;
  color: #fff;
}

button.is-active {
  background: #0d0d0d;
  color: #fff;
}

.ProseMirror {
  margin-top: 1em;
  padding: 1rem;
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #fff;
  color: #0d0d0d;
  font-family: 'JetBrainsMono', monospace;
  font-size: 0.8rem;
  min-height: 20rem;

}
.ProseMirror ul, .ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 1);
  margin: 2rem 0;
}


.title > input {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  background: #222529;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.2rem 0.5rem 1rem 0.5rem;
}

.config > button {
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.2rem 1rem 1rem 0.5rem;
}

.config > button:hover {
  background: #222529;
  color: #fff;
}


.tags > div > div > input {
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  font-family: 'JetBrainsMono', monospace;
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.tag-wrapper {
  border: 2px solid #0d0d0d;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-radius: 0.5rem;
  flex: 1;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.ReactTags__remove {
  border: none;
  border-radius: 0.5rem;
  font-family: 'JetBrainsMono', monospace;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}

button.publish {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem 1rem 0.5rem;
}

button.publish:hover {
  background: #383838;
  color: #fff;
}